@import "../sass/utils/vars";
@import "../sass/components/portofolio";
@import "../sass/base/base";

.class {
    color: red;
    background-color: yellow;

    .element {
        color: $colorRed;
        padding: $standardPadding;
    }
    
}