.header {
    .container {
        width: 1200px;
        margin: 0px auto;
    }
}

.header {
    &-navigation {
        background-color: white;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0.02em;
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        border-bottom: 1px solid #ECECEC;
    }
    &-WebStudio-info {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em;
        color: #2196F3;
        text-decoration: none;
        padding: 0 93px 0 0;
    }
    &-nav-link {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: space-between;
    }
    &-left {
        display: flex;
        align-items: center;
        padding-inline-start: 0px;
        padding: 32px 0px;
    }
    &-left > li {
        padding-right: 30px;
    }
    &-left :hover {
        color: #2196F3;
        cursor: pointer;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

#studio1 {
    color: black;
}
 

.page-link {
    color: #212121;
    text-decoration: none;
}

.page-link-a {
    position: relative;
    color: #212121;
    text-decoration: none;
}

.header {
    &-right {
        color: #757575;
        display: flex;
        align-items: center;
        padding-inline-start: 0px;
        padding: 32px 0px;
    }
    &-right > li {
        padding-right: 30px;
    }
}

.header {
    &-right-envelope {
        display: flex;
    }
    &-right-envelope svg:hover {
        fill: #2196F3;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &-contact-link {
        color: #757575;
        text-decoration: none;
        padding-left: 10px;
    }
    &-contact-link:hover {
        color:#2196F3;
        cursor: pointer;
        border: none;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &-icons {
        padding-right: 10px;
    }
}

.header {
    &-right-phone {
        display: flex;
    }
    &-right-phone svg:hover {
        fill: #2196F3;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

}